In [1]:
import pandas as pd

In [2]:
# 224 model run on COVIDx
df = pd.read_csv('/p/project/joaiml/ingolfsson1/COVID_Net/results/covidx_test_1_224_2283.2844471931458.csv')

df.head()

,id,path,condition,source,pred,time
0,419639-003251,MIDRC-RICORD-1C-419639-003251-46647-0.png,COVID-19,ricord,COVID-19,39.247878
1,419639-001464,MIDRC-RICORD-1C-419639-001464-39871-0.png,COVID-19,ricord,pneumonia,6.134052
2,419639-000918,MIDRC-RICORD-1C-419639-000918-78965-0.png,COVID-19,ricord,COVID-19,6.380929
3,419639-003318,MIDRC-RICORD-1C-419639-003318-64285-0.png,COVID-19,ricord,COVID-19,6.666050
4,419639-001015,MIDRC-RICORD-1C-419639-001015-81591-0.png,COVID-19,ricord,normal,6.107113

In [3]:
df['time'].sum()

2282.926633119583

In [5]:
df['time'].mean()

5.707316582798958

In [6]:
# 480 model run on COVIDx
df = pd.read_csv('/p/project/joaiml/ingolfsson1/COVID_Net/results/covidx_test_1_480_8077.028603076935.csv')

df.head()

,id,path,condition,source,pred,time
0,419639-003251,MIDRC-RICORD-1C-419639-003251-46647-0.png,COVID-19,ricord,COVID-19,25.159276
1,419639-001464,MIDRC-RICORD-1C-419639-001464-39871-0.png,COVID-19,ricord,COVID-19,19.669841
2,419639-000918,MIDRC-RICORD-1C-419639-000918-78965-0.png,COVID-19,ricord,COVID-19,19.113278
3,419639-003318,MIDRC-RICORD-1C-419639-003318-64285-0.png,COVID-19,ricord,COVID-19,19.504162
4,419639-001015,MIDRC-RICORD-1C-419639-001015-81591-0.png,COVID-19,ricord,COVID-19,20.033506

In [7]:
df['time'].sum()

8076.449129581451

In [8]:
df['time'].mean()

20.191122823953627

In [9]:
# 224 model run on EHL
df = pd.read_csv('/p/project/joaiml/ingolfsson1/COVID_Net/results/ehl_total_1_224_17894.631240844727.csv')

df.head()

,id,path,condition,source,pred,time
0,ehl_train_COVID-19_0,COVID-19_02132021(8).jpg,COVID-19,ehl,normal,11.391677
1,ehl_train_COVID-19_1,COVID-19_02132021(10).jpg,COVID-19,ehl,COVID-19,6.778557
2,ehl_train_COVID-19_2,COVID-19_02132021(47).jpg,COVID-19,ehl,COVID-19,6.661425
3,ehl_train_COVID-19_3,covid-19-pneumonia-22-day2-pa.png,COVID-19,ehl,COVID-19,6.796732
4,ehl_train_COVID-19_4,8FDE8DBA-CFBD-4B4C-B1A4-6F36A93B7E87.jpeg,COVID-19,ehl,normal,6.645511

In [10]:
df['time'].sum()

17891.79199028015

In [11]:
df['time'].mean()

7.762165722464274